.v-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(113, 136, 163, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 10px rgba(15, 102, 204, 0.2);

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(113, 136, 163, .3);
  }

  &__content {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 10px;
    // overflow: hidden;
  }
}